<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読込 -->
<link
	rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- JS読込 -->
<script
	th:src="@{/webjars/jquery/jquery.min.js}"
	defer></script>
<script
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
	defer></script>
<title>エラー</title>
</head>

<body>
	<!-- ナビゲーション -->
	<nav class="navbar navbar-expand-md navbar-dark bg-primary">
		<span class="navbar-brand">エラー</span>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse"
			id="navbarNav">
			<form
				action="logout"
				method="get"
				class="form-inline ml-auto">
				<button class="btn btn-outline-light">ログアウト</button>
			</form>
		</div>
	</nav>
	<div class="container text-center">
		<h1 th:text="${status} + ' ' + ${error}"></h1>
		<p th:text="${message}"></p>
		<p>エラーが発生しました</p>
		<form
			action="logout"
			method="get"
			class="form-inline">
			<button class="btn btn-warning btn-sm">ログアウト</button>
		</form>
	</div>
</body>

</html>