<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/commonLayout">

<head>
<title th:text="#{todoList.update}"></title>
</head>

<!-- コンテンツエリア -->
<body>
	<div layout:fragment="content">
		<div class="container mt-4">
			<div class="row">
				<div class="col-sm-12">
					<form
						th:action="@{/updateTodo}"
						method="post"
						th:object="${todoForm}">
						<!-- ID -->
						<input
							type="hidden"
							th:field="*{id}">
						<!-- 項目名 -->
						<div class="form-group">
							<label
								for="itemName"
								th:text="#{todo.itemName}"></label>
							<input
								type="text"
								class="form-control"
								th:field="*{itemName}"
								th:errorClass="is-invalid" />
							<div
								class="invalid-feedback"
								th:errors="*{itemName}"></div>
						</div>

						<!-- 担当者 -->
						<div class="form-group">
							<label
								for="assignee"
								th:text="#{todo.assignee}"></label>
							<select
								class="form-control"
								th:field="*{userId}"
								th:errorClass=" is-invalid">
								<option
									th:each="user : ${assigneeList}"
									th:value="${user.Id}"
									th:text="|${user.familyName} ${user.firstName}|"></option>
							</select>
							<div
								class="invalid-feedback"
								th:errors="*{userId}"></div>
						</div>

						<!-- 期限日 -->
						<div class="form-group">
							<label
								for="expireDate"
								th:text="#{todo.expireDate}"></label>
							<input
								type="date"
								class="form-control"
								th:field="*{expireDate}"
								th:errorClass="is-invalid" />
							<div
								class="invalid-feedback"
								th:errors="*{expireDate}"></div>
						</div>

						<!-- 完了 -->
						<div class="form-check">
							<input
								type="checkbox"
								class="form-check-input"
								id="finished"
								th:field="*{finished}"
								th:attr="checked=*{finished} ? 'checked' : false">
							<label
								for="finished"
								th:text="#{finished}"></label>
						</div>

						<!-- ボタン -->
						<button
							type="submit"
							class="btn btn-primary"
							th:text="#{todoList.update}"></button>
						<button
							type="button"
							class="btn btn-outline-secondary"
							th:text="#{cancel}"
							onclick="location.href='/viewTodoList';"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>