<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読込 -->
<link
	rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- JS読込 -->
<script
	th:src="@{/webjars/jquery/jquery.min.js}"
	defer></script>
<script
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
	defer></script>
<title>作業更新</title>
</head>
<!-- ナビゲーションバー -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<span class="navbar-brand">TODOリスト</span>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div
		class="collapse navbar-collapse"
		id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a
				class="nav-link"
				href="/viewTodoList">作業一覧</a></li>
			<li class="nav-item"><a
				class="nav-link"
				href="/addTodo">作業登録</a></li>
		</ul>
		<span
			class="navbar-text text-light"
			th:text="|ようこそ、${loginUser.familyName} ${loginUser.firstName}さん|"> </span>
		<form
			action="logout"
			method="get"
			class="form-inline ml-2">
			<button class="btn btn-outline-light">ログアウト</button>
		</form>
	</div>
</nav>
<!-- コンテンツエリア -->
<body>
	<div class="container mt-4">
		<div class="row">
			<div class="col-sm-12">
				<form
					action="/updateTodo"
					method="post"
					th:object="${todoForm}">
					<!-- ID -->
					<input
						type="hidden"
						th:field="*{id}">
					<!-- 登録日 -->
					<input
						type="hidden"
						th:field="*{registrationDate}">
					<!-- 項目名 -->
					<div class="form-group">
						<label for="itemName">項目名</label>
						<input
							type="text"
							class="form-control"
							th:field="*{itemName}"
							th:errorClass="is-invalid" />
						<div
							class="invalid-feedback"
							th:errors="*{itemName}"></div>
					</div>

					<!-- 担当者 -->
					<div class="form-group">
						<label for="assignee">担当者</label>
						<select
							class="form-control"
							th:field="*{userId}"
							th:errorClass=" is-invalid">
							<option
								th:each="user : ${assigneeList}"
								th:value="${user.Id}"
								th:text="|${user.familyName} ${user.firstName}|"></option>
						</select>
						<div
							class="invalid-feedback"
							th:errors="*{userId}"></div>
					</div>

					<!-- 期限日 -->
					<div class="form-group">
						<label for="expireDate">期限日</label>
						<input
							type="date"
							class="form-control"
							th:field="*{expireDate}"
							th:errorClass="is-invalid">
						<div
							class="invalid-feedback"
							th:errors="*{expireDate}"></div>
					</div>

					<!-- 完了 -->
					<div class="form-check">
						<input
							type="checkbox"
							class="form-check-input"
							id="stringFinished"
							th:field="*{stringFinished}"
							th:value="1"
							th:attr="checked=*{stringFinished} ? 'checked' : null">
						<label for="stringFinished">完了</label>
					</div>

					<!-- ボタン -->
					<button
						type="submit"
						class="btn btn-primary">作業更新</button>
					<button
						type="button"
						class="btn btn-outline-secondary"
						onclick="location.href='/viewTodoList';">キャンセル</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>