<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読込 -->
<link
    rel="stylesheet"
    th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- JS読込 -->
<script
    th:src="@{/webjars/jquery/jquery.min.js}"
    defer></script>
<script
    th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
    defer></script>
<title>作業リスト</title>
</head>

<body class="bg-light">
    <div class="container text-center">
        <div class="mx-auto">
            <h2 class="text-center mb-4">作業一覧</h2>
            <p th:text="|${loginUser.familyName} ${loginUser.firstName}|"></p>
            <form
                th:action="@{/viewTodoList}"
                method="post">
                <input
                    type="text"
                    name="searchWords">
                <input
                    type="submit"
                    value="検索"
                    class="btn btn-warning btn-sm" />
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th
                            class="col-md-auto"
                            scope="col">項目名</th>
                        <th
                            class="col-md-auto"
                            scope="col">担当者</th>
                        <th
                            class="col-md-auto"
                            scope="col">登録日</th>
                        <th
                            class="col-md-auto"
                            scope="col">期限日</th>
                        <th
                            class="col-md-auto"
                            scope="col">完了日</th>
                        <th
                            class="col-md-auto"
                            scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="todo:${todoList}">
                        <td th:text="${todo.itemName}"></td>
                        <td th:text="|${todo.familyName} ${todo.firstName}|"></td>
                        <td th:text="${#dates.format(todo.registrationDate, 'yyyy/MM/dd')}"></td>
                        <td th:text="${#dates.format(todo.expireDate, 'yyyy/MM/dd')}"></td>
                        <td th:text="${#dates.format(todo.finishedDate, 'yyyy/MM/dd')}"></td>
                        <td>
                            <div class="d-flex gap-2">
                                <form
                                    th:action="@{/finished}"
                                    method="post">
                                    <input
                                        type="hidden"
                                        name="id"
                                        th:value="${todo.id}">
                                    <input
                                        type="submit"
                                        value="完了"
                                        class="btn btn-success btn-sm" />
                                </form>
                                <form
                                    th:action="@{/update}"
                                    method="post">
                                    <input
                                        type="hidden"
                                        name="id"
                                        th:value="${todo.id}">
                                    <input
                                        type="submit"
                                        value="修正"
                                        class="btn btn-warning btn-sm" />
                                </form>
                                <form
                                    th:action="@{/delete}"
                                    method="post">
                                    <input
                                        type="hidden"
                                        name="id"
                                        th:value="${todo.id}">
                                    <input
                                        type="submit"
                                        value="削除"
                                        class="btn btn-danger btn-sm" />
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>