<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="spring.todolist.repository.TodoMapper">

  <!-- Todoリスト全取得 -->
  <select id="getAllTodo" resultType="spring.todolist.domain.user.model.Todo">
	<![CDATA[
		SELECT * FROM todo_items
		LEFT JOIN users ON users.id = todo_items.user_id 
		WHERE todo_items.is_deleted = 0 
		ORDER BY expire_date ASC;
		]]>
  </select>

  <!-- Todo検索 -->
  <select id="getSearchTodo" resultType="spring.todolist.domain.user.model.Todo">
	<![CDATA[
		SELECT * FROM todo_items t
		LEFT JOIN users u ON u.id = t.user_id WHERE t.is_deleted = 0 
		AND (t.item_name LIKE CONCAT('%', #{searchWords}, '%') 
		OR u.family_name
		LIKE CONCAT('%', #{searchWords}, '%') OR u.first_name LIKE CONCAT('%', #{searchWords}, '%')) 
		ORDER BY t.expire_date ASC;
		]]>
  </select>

  <!-- Todo登録 -->
  <insert id="addTodo">
	<![CDATA[
		INSERT INTO todo_items (user_id, item_name, registration_date, expire_date, finished_date) 
		VALUES (#{userId}, #{itemName}, CURRENT_DATE, #{expireDate}, #{finishedDate});
		]]>
  </insert>

  <!-- Todo1件取得 -->
  <select id="getTodoOne">
	<![CDATA[
		SELECT * FROM todo_items t
		LEFT JOIN users u ON u.id = t.user_id 
		WHERE t.id = #{todoId} AND t.is_deleted = 0;
		]]>
  </select>

  <!-- Todo修正 -->
  <update id="updateTodo">
  <![CDATA[
    UPDATE todo_items SET user_id = #{userId}, item_name = #{itemName}, expire_date = #{expireDate}, finished_date = #{finishedDate}, is_finished = #{isFinished} 
    WHERE id = #{id};
    ]]>
  </update>


</mapper>
  
