<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="spring.todolist.repository.UserMapper">

  <!-- ログイン確認 -->
  <select id="verifyLogin" resultType="spring.todolist.domain.user.model.User">
    SELECT * FROM users WHERE user = #{userName} AND pass = #{pass} AND is_deleted = 0 LIMIT 1;
  </select>

  <!-- 姓名リスト取得 -->
  <select id="getUsersFullNameList" resultType="spring.todolist.domain.user.model.User">
    SELECT id , family_name , first_name FROM users;
  </select>

</mapper>
  
